.button {
  --button-primary-color: #025cca;
  --button-primary-color-focus: #0270F7;
  --button-primary-color-hover: #247ad6;
  --button-primary-color-active: #0044a3;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.88);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  height: 32px;
  line-height: 1.5714285714285714;
  outline: none;
  padding: 4px 15px;
  padding: 4px 12px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  white-space: nowrap;
}

/* BUTTON TYPES */

/* Button Dashed */

.button.dashed {
  background-color: #fff;
  border-color: var(--border-color-base);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border-style: dashed;
}

.button.dashed:disabled {
  cursor: not-allowed;
  border-color: var(--border-color-base);
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.button.dashed:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.dashed:not(:disabled):hover {
  color: var(--button-primary-color-hover);
  border-color: var(--button-primary-color-hover);
}

.button.dashed:not(:disabled):active {
  color: var(--button-primary-color-active);
  border-color: var(--button-primary-color-active);
}

/* Button Default */

.button.default {
  background-color: #fff;
  border-color: var(--border-color-base);
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

.button.default:disabled {
  cursor: not-allowed;
  border-color: var(--border-color-base);
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.button.default:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.default:not(:disabled):hover {
  color: var(--button-primary-color-hover);
  border-color: var(--button-primary-color-hover);
}

.button.default:not(:disabled):active {
  color: var(--button-primary-color-active);
  border-color: var(--button-primary-color-active);
}

/* Button Link */

.button.link {
  color: var(--button-primary-color);
}

.button.link:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}

.button.link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.link:not(:disabled):hover {
  color: #69b1ff;
}

.button.link:not(:disabled):active {
  color: var(--button-primary-color-active);
}

/* Button Primary */

.button.primary {
  color: #fff;
  background-color: var(--button-primary-color);
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.button.primary:disabled {
  cursor: not-allowed;
  border-color: var(--border-color-base);
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.button.primary:focus {
  background-color: var(--button-primary-color-focus);
  border-color: var(--button-primary-color-active);
}

.button.primary:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.primary:not(:disabled):hover {
  color: #fff;
  background-color: var(--button-primary-color-hover);
}

.button.primary:not(:disabled):active {
  color: #fff;
  background-color: var(--button-primary-color-active);
}

/* Button Text */

.button.text:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}

.button.text:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.text:not(:disabled):hover {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(0, 0, 0, 0.06);
}

.button.text:not(:disabled):active {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(0, 0, 0, 0.15);
}

/* LOADING */

.loading {
  opacity: 0.65;
  cursor: default;
}

.loader {
  transition:
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* SIZES */

/* Large */

.large {
  font-size: 16px;
  height: 40px;
  padding: 6.428571428571429px 15px;
  border-radius: 4px;
}

.large.loading {
  opacity: 0.65;
  cursor: default;
}

/* Small */

.small {
  font-size: 14px;
  height: 24px;
  padding: 0 7px;
  border-radius: 4px;
}

.small.loading {
  opacity: 0.65;
  cursor: default;
}

/* BLOCK */

.block {
  width: 100%;
}
