.button {
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: var(--base-font-color);
  cursor:  var(--cursor-button);
  display: inline-block;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  height: 32px;
  line-height: 1.5714285714285714;
  outline: none;
  padding: 4px 15px;
  padding: 4px 12px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  white-space: nowrap;
}

/* BUTTON TYPES */

/* Button Dashed */

.button.dashed {
  background-color: var(--button-default-fill);
  border-color: var(--border-color-base);
  border-style: dashed;
}

.button.dashed:disabled {
  cursor: var(--cursor-disabled);
  border-color: var(--border-color-base);
  color: var(--base-font-disabled-color);
  background-color: var(--base-font-disabled-color);
  box-shadow: none;
}

.button.dashed:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.dashed:not(:disabled):hover {
  color: var(--button-primary-color-hover);
  border-color: var(--button-primary-color-hover);
}

.button.dashed:not(:disabled):active {
  color: var(--button-primary-color-active);
  border-color: var(--button-primary-color-active);
}

/* Button Default */

.button.default {
  background-color: var(--button-default-fill);
  border-color: var(--border-color-base);
}

.button.default:disabled {
  cursor: var(--cursor-disabled);
  border-color: var(--border-color-base);
  color: var(--base-font-disabled-color);
  background-color: var(--base-font-disabled-color);
  box-shadow: none;
}

.button.default:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.default:not(:disabled):hover {
  color: var(--button-primary-color-hover);
  border-color: var(--button-primary-color-hover);
}

.button.default:not(:disabled):active {
  color: var(--button-primary-color-active);
  border-color: var(--button-primary-color-active);
}

/* Button Link */

.button.link {
  cursor: var(--cursor-link);
  color: var(--button-primary-color);
}

.button.link:disabled {
  cursor: var(--cursor-disabled);
  color: var(--base-font-disabled-color);
}

.button.link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.link:not(:disabled):hover {
  color: var(--button-primary-color-hover);
}

.button.link:not(:disabled):active {
  color: var(--button-primary-color-active);
}

/* Button Primary */

.button.primary {
  color: var(--button-primary-font-color);
  background-color: var(--button-primary-color);
}

.button.primary:disabled {
  cursor: var(--cursor-disabled);
  border-color: var(--border-color-base);
  color: var(--base-font-disabled-color);
  background-color: var(--base-font-disabled-color);
  box-shadow: none;
}

.button.primary:focus {
  background-color: var(--button-primary-color-focus);
  border-color: var(--button-primary-color-active);
}

.button.primary:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.primary:not(:disabled):hover {
  color: var(--button-primary-font-color);
  background-color: var(--button-primary-color-hover);
}

.button.primary:not(:disabled):active {
  color: var(--button-primary-font-color);
  background-color: var(--button-primary-color-active);
}

/* Button Text */

.button.text {
  background-color: transparent;
}

.button.text:disabled {
  cursor: var(--cursor-disabled);
  color: var(--base-font-disabled-color);
}

.button.text:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-focus);
}

.button.text:not(:disabled):hover {
  color: var(--base-font-color);
  background-color: var(--button-text-hover-fill);
}

.button.text:not(:disabled):active {
  color: var(--base-font-color);
  background-color: var(--button-text-active-fill);
}

/* LOADING */

.loading {
  opacity: 0.65;
  cursor: var(--cursor-button);
}

.loader {
  transition:
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* SIZES */

/* Large */

.large {
  font-size: 16px;
  height: 40px;
  padding: 6.428571428571429px 15px;
  border-radius: 4px;
}

.large.loading {
  opacity: 0.65;
  cursor: var(--cursor-button);
}

/* Small */

.small {
  font-size: 14px;
  height: 24px;
  padding: 0 7px;
  border-radius: 4px;
}

.small.loading {
  opacity: 0.65;
  cursor: var(--cursor-button);
}

/* BLOCK */

.block {
  width: 100%;
}
