:root {
  --app-background: #fff;
  --app-background-color: #fff;
  --card-head-background-color: rgba(0, 0, 0, 0.08);
  --card-background-color: #eeeded;
  --border-color-base: #d0d0d0;
  --card-border: 1px solid rgba(0, 0, 0, 0.06);
  --card-border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  --element-border: 1px solid #e0e0e0;
  --input-disabled-background-color: #f5f5f5;
  --link-color: #0053c0;
  --tab-color: rgba(0, 0, 0, 0.65);
  --table-background: #fff;
  --table-bottom-radius: 3px;
  --table-header-background: rgba(226, 225, 225);
  --table-footer-background: var(--table-header-background);
  --table-footer-format-color: rgb(0, 181, 253);
  --table-header-border-color: transparent;
  --table-border-color: var(--table-header-border-color);
  --table-header-color: #252525;
  --table-header-radius: 3px;
  --table-header-font-size: 1rem; /* 0.875rem;*/
  --table-row-background: rgba(0, 0, 0, 0.01);
  --table-row-selected-background: #b7e4ff99;
  --table-row-height: 32px;
  --table-row-separate-color: #aaa;
  --table-row-border-color: rgb(224 224 224);
  --table-cell-color: rgba(0, 0, 0, 0.95);
  --table-cell-selected-background: #fff5;
  --table-cell-outline: #005a9c;
  --table-cell-group-border-color: var(--table-header-background);

  /* base */
  --base-size-48: 3.7rem;
  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;
  --color-border-muted: rgb(216, 222, 228);

  /* Layout */
  --color-footer-bg: var(--app-background);

  /* Dashboard */
  --dashboard-background: transparent;
  --dashboard-color: black;

  /* Components */
  --font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --layout-gap: 8px;
  --layout-fieldset-gap: 6px;
  --line-height: 1.5714285714285714;
  --primary-focus-group-border: rgb(64, 150, 255);
  --primary-focus-shadow: 0 0 0 4px rgba(5, 145, 255, 0.1);
  --primary-focus: rgb(42, 130, 239);
  --primary-hover: rgba(42, 130, 239, 0.52);
  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --breadcrumb-current-item-color: rgba(0, 0, 0, 0.65);
  --breadcrumb-item-color: rgba(0, 0, 0, 1);
  --breadcrumb-separator-color: rgba(0, 0, 0, 0.45);
  --breadcrumb-separator-spacing: 8px;
  --autocomplete-border-radius: 4px;
  --autocomplete-color: rgba(0, 0, 0, 0.88);
  --autocomplete-status-color: rgba(50, 55, 60, 0.9);
  --autocomplete-fill: rgb(255, 255, 255);
  --autocomplete-disabled-fill: var(--input-disabled-background-color);
  --autocomplete-option-fill: rgba(0, 0, 0, 0.04);
  --tablist-border-color: var(--color-border-muted);
  --editor-body-padding: 0;
  --select-border-radius: 4px;
  --table-value-zero: #949494; /* #858585; // #767676 AA; */
  --table-value-green: #d9f5db;
  --table-value-red: #ffe1e1;
  --table-value-ok-green: #008900;
  --table-value-ok-red: #e00000;
  --table-value-bold: 650;
  --table-value-color-bold: 550;
}

/* Desktop theme colors */
[data-thm="SIMPLE"] {
  --app-background: #ece9d8;
  --app-background-color: #ece9d8;
  --card-head-background-color: #d4d2c2;
  --card-background-color: #ece9d8;
  --border-color-base: rgba(0, 0, 0, 0.81);
  --card-border: 1px solid #94918c;
  --card-border-bottom: 1px solid #94918c;
  --element-border: 1px solid #94918c;
  --input-disabled-background-color: #f0eee4;
  --link-color: #004faf;
  --tab-color: rgba(0, 0, 0, 1);
  --table-background: #fff;
  --table-bottom-radius: 3px;
  --table-cell-color: rgba(0, 0, 0, 0.87);
  --table-header-background: #ece9d8;
  --table-footer-background: var(--table-header-background);
  --table-header-border-color: #94918c;
  --table-border-color: var(--table-header-border-color);
  --table-header-color: #252525;
  --table-header-radius: 3px;
  --table-row-background: rgba(0, 0, 0, 0.01);
  --table-row-selected-background: rgba(2, 101, 220, 0.2);
}