.panel {
  /* background-color: #fff; */
  padding: 4px;
}

.token {
  display: inline-flex;
  width: 7rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: var(--border-radius-medium);
}