.root {
}

.container {
  margin: 0rem 0;
}

.block {
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.hide {
  background-color: #ffdddd;
  border: 1px dashed red;
  color: black;
  opacity: 0.1;
}

.divider {
  border-bottom: var(--card-border-bottom);
  padding-bottom: var(--layout-fieldset-gap);
}